@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.menu{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items: center;
}

.container{
    width: 1440px;
    box-sizing: border-box;
}

.container2{
    margin: 0 0 0 10em;
}

.menu__action{
    display: none;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#close{
    display: none;
}

.menu__left{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: start;
}


.menu__logo{
    height: 50px;
    margin-right: 5em;
}

.menu__right{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
    
}

a {
    text-decoration: none;
    color: #09262B;
    font-size: 1em;
}

.menu__list-item {
    margin: 0px 30px;
    color: #09262B;
    text-decoration: none;
    font-weight: 700;
}

.menu--light{
    font-weight: 400;
}

.btn{
    font-weight: 600;
    padding: 1em;
    box-sizing: border-box;


}

.btn--grey{
    background-color: #F2F0EF;
}

.btn--red{
    background-color: #D23D29;
    margin: 1em;
    color: ghostwhite;
}


.banner{

    background-color: #F2F0EF;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.banner__title{
    font-size: 3.5em;
    color: #09262B;
    margin: 2.3em 0 0.5em;    
}

.banner__body{
    font-size: 1.5em;
    color: #09262B;
}

.banner__form{
    margin: 1.5em 0 3em 0;
}
.form__input{
    padding: 1em;
    width: 22em;
    border: 0em;
    box-sizing: border-box;

}

.input__button{
    background-color: #D23D29;
    padding: 1em;
    margin: 0.5em;
    border: 0em;
    color: ghostwhite;
    box-sizing: border-box;

}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner__image{
    justify-content: end;
    margin-bottom: 1em;
    width: 100%;
}

.slider{
    display: flex;
    background: #FFFFFF;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 3em 3em 3em 10em;

}

.container__slider{
    box-sizing: border-box;
    width: 100%;
}

.swiper__button{
    border-radius: 100px;
    background: #ffffffa8;
    padding: 2.5em 2.5em;
}

.logos{
    padding: 2em 0;
    display: inline-flex;
    box-sizing: border-box;
}

.slider__text{
    justify-content: end;
    margin: 2em;
    width: 10%;
}

.slider__text--red{
    color:#D23D29;
    font-weight: 600;
    font-size: 2em;
}

.slider__text--grey{
    color: #849395;
}

.slider-logo{
    width: 200px;
    align-items: center;
}


.characteristics{
    display: flex;
    justify-content:space-between;
}

.characteristics__image{
    width: 600px;
}

.characteristics__text{
    margin: 0 6em;
}

h2 {
    font-size: 3em;
    color: #09262B;
}

.characteristics__title{
    margin-bottom: 0.5em;
    margin-top: 2.5em;
}

p{
    color: #354547;
    font-size: 1em;
}

h3 {
    color: #09262B;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
}

.characteristics__list{
    margin-top: 2em;
    list-style-image: url(../img/arrow.png);
    list-style-position: inside;
}

.characteristics__item{
    display: inline;
}

.characteristics__description{
    margin: 1em 0;
}

.btn--green{
    background-color: #09262B;
    color: ghostwhite;
    margin-left: 5em; 
    margin-bottom: 5em;
}

.courses{
    background-color: #09262B;
    justify-content: right;
    margin-top: 5em;
    padding: 3em 4em;
    box-sizing: border-box;
}

.courses__title{
    color: white;
    font-weight: 600;
}

.courses__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.courses__item{
    background-color: white;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    padding: 1.5em;
    box-sizing: border-box;
    margin: 4em 0 4em 0;
    
}

.courses__logo{
    height: 50px;
    width:100px;
}

.courses__name{
    font-weight: 700;
    font-size: 1.3em;
    color: #09262B;
}

.courses__uni{
    font-weight: 400;
    font-size: 1em;
    color: #354547;
}

.courses__type{
    font-weight: 600;
    font-size: 1em;
    color: #D23D29;
    position: relative;
    margin-top: 2.5em;
}

.courses__other{
    display: block;
    width: 85px;
    align-items: center;
    justify-content: center;
    margin-top: 9em;
}

.courses__btn{
    width: 85px;
    height: 85px;
}

.courses__more {
    font-weight: 600;
    color: white ;
}

.phrase{
    display: flex;
    align-items: center;
}

.phrase__body{
    width: 650px;
}

.phrase__text{
    color: #D23D29 ;
    margin-bottom: 1.5em;
    margin-right: 2em;
}

.footer{
    background-color: #09262B;
    height: 350px;
}

.footer__logo{
    width: 100px;
    height: 100px;
}

.footer__logos-img{
    width: 50px;
    height: 50px;
}

.footer__download-img{
    width: 110px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
}

.footer__list{
    list-style: none;
}

.footer__logos-list{
    list-style: none;
    display: flex;
    margin-bottom: 2em;
}

.footer__download-list{
    list-style: none;
    display: flex;
    margin-top: 2em;
}

.footer__title{
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 1em;
}

.footer__body a{
    color: #f9f9f9dc;
    margin-top: 0.5em;
}

.footer__body{
    color: #f9f9f9dc;
    margin-top: 0.5em;
}

.footer__logos-column{
    width:20%;
}
.footer__rights{
    margin-top: 3em;
}

.newsletter{
    margin-right: 3em;
    margin-left: 2em;
}

.newsletter__title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5em;
}

.newsletter__form{
    margin-top: 2em;
}

