@media all and (max-width:1440px){
   .container{
       width: 100%;
   }

}

@media all and (max-width: 1360px){
    .courses__item--4{
        display: none;
    

    }

    .courses__list{
        margin-right: 4em;
    }
}

@media all and (max-width:1268px){
    .banner{
        justify-content: end;
    }
    .banner__image{
        width: 60%;
        justify-content: end;
    }

    .banner__text{
        width: 50%;
    }

    body{
        font-size: 0.8em;
    }

    .characteristics__image{
        width: 130%;
    }

    .characteristics__text{
        width: 100%;
    }

    .characteristics__button {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }

}