@media all and (max-width:1440px){
   .container{
       width: 100%;
   }

}

@media all and (max-width: 1360px){
    .courses__item--4{
        display: none;
    

    }

    .courses__list{
        margin-right: 4em;
    }

    .footer__menu{
        flex-direction: column-reverse;
    }

    .footer__menu--options{
        width: 100%;
    }

    .newsletter{
        margin: 3em 0;
        justify-content: center;
    }
}


@media all and (max-width:1268px){
    .banner{
        justify-content: end;
    }
    .banner__image{
        width: 60%;
        justify-content: end;
    }

    .banner__text{
        width: 50%;
    }

    body{
        font-size: 0.8em;
    }

    .characteristics__image{
        width: 130%;
    }

    .characteristics__text{
        width: 100%;
    }

    .characteristics__button {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }

    .footer__logos-column{
        width: 200px;
        margin: 0 1em;
    }

    .footer__list{
        margin-right: 1em;
    }

}

@media all and (max-width:1100px){

    .courses__list{
        margin-right: 0em;
    }

    .courses__item{
        width: 222px;
    }
    .register__square{
        display: none;

    }


}

@media all and (max-width:953px){
    .menu__action{
        display: block;
        background-color: transparent;
        border: none;
        width: 27px;
        cursor: pointer;
        margin-right: 3em;

    }

    .menu{
        justify-content: space-between;
    }

    .menu__container{
        display: none;
    }

    .menu__container--mobile{
        display: block;
        position: fixed;
        width: 100%;
        height: 45%;
        background-color: #FFFFFF;
        top: 0;
        flex-direction: column;
        z-index: 2;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    }

    .menu__container--mobile .menu__left{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .menu__container--mobile .menu__right{
        flex-direction: column;
        align-items: center;

    }

    .menu__container--mobile .menu__list-item{
        margin-bottom: 15px;
        font-size: 1em
    }

    .btn--grey{
        margin: 0.5em;
        display: block;
    }

    .btn--red{
        margin: 0.5em;
        display: block;
    }

    #close{
        display: block;
        position: absolute;
        top:20px;
        right: 30px;
        font-size: 2.5em;
        cursor: pointer;
        font-family: 'Roboto Mono', monospace;
        color: #D23D29 ;
    }

    .courses__list{
        flex-wrap: wrap;
    }

    .courses__btn{
        display: none;
    }

    .courses__more--container{
        width: 100%;
    }

    .courses__other{
        margin-top: 2em;
        width: 100%;
        display: flex;
        align-self:center;
        }

    .slider{
        display: flex;
        flex-wrap: wrap;
    }

    .slider__text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .slider__text--red{
        display: inline;
        margin-right: 0.3em;
    }
    .slider__text--grey{
        display: inline;
    }

}

@media all and (max-width:902px){
    .courses__list{
        flex-direction: column;
    }

    .courses__item{
        width: 90%;
        margin: 1em 1em 1em 0;
        height: auto;
        box-sizing: content-box;
    }

    .banner{
        flex-direction: column;
    }

    .banner__text{
        width: 80%;
    }

    .banner__title{
        margin: 1.5em 0 0.5em;    
    }

    .banner__image{
        width: 80%;
        display: flex;
        align-self: flex-end;
    }

}

@media all and (max-width:760px){
    .characteristics__image{
        display: none;
    }

    .container2{
        margin: 0 0 0 7em;
    }
    .characteristics__text{
        margin: 0 3em 0 7em;
    }

    .btn--green{
        display: flex;
        align-self:center;
        margin: 3em 0;
    }

    .footer__menu--options{
        margin-bottom: 6em;
    }

    .footer__logos-column{
        margin-top: 3em;
    }
}


@media all and (max-width:578px){
    .container{
        width: 100%;
    }
    .container2{
        margin: 0 0 0 5em;
    }

    body{
        font-size: 0.55em;
    }

    .phrase__author{
        margin-right: 1em;
    }

    .characteristics__text{
        margin: 0 5em 0 7em;
    }

    .newsletter{
        margin-bottom: 7em;
    }

    

}


@media all and (max-width:500px){
    .phrase{
        flex-direction: column;
    }

    .phrase__body{
        margin: 1em;
        padding: 4em 2em 5em 5em;
        width: 100%;

    }
    .characteristics__text{
        margin: 0 5em 0 5em;
    }

    .form__input{
        padding: 1em;
        width: 18em;
        border: 0em;
        box-sizing: border-box;
    }

    .menu{
        height: 70px;
    }

    .menu__logo{
        height: 35px;
        margin-left: 1em;
    }

    .banner__image{
        width: 110%;
        position: relative;
    }

    .courses__title{
        margin-bottom: 1em;
    }

    h3{
        font-size: 2em;
    }

    .banner__text{
        width: 85%;
    }

    .courses {
        margin:0;
    }

    .btn{
        font-weight: 600;
        padding: 1.5em;
        box-sizing: border-box;
    
    }

    .courses__item{
        padding: 2.5em;
        margin: 1em 2em 1em 0;
        
    }

    .characteristics__button {
        margin-bottom: 3em;
    }

    .slider {
        padding: 4em 3em 3em 5em;
    }

    p{
        font-size: 1.5em;
    }

    a{
        font-size: 1.5em;
    }
    span{
        font-size: 1.5em;
    }

    .footer__column2{
        margin-right: 4em;
    }

    .banner__body{
        font-size: 1.7;
    }


}