@media all and (max-width:1440px){
   .container{
       width: 100%;
   }

}

@media all and (max-width: 1360px){
    .courses__item--4{
        display: none;
    

    }

    .courses__list{
        margin-right: 4em;
    }

    .footer__menu{
        flex-direction: column-reverse;
    }

    .footer__menu--options{
        width: 100%;
    }

    .newsletter{
        margin: 3em 0;
        justify-content: center;
    }
}


@media all and (max-width:1268px){
    .banner{
        justify-content: end;
    }
    .banner__image{
        width: 60%;
        justify-content: end;
    }

    .banner__text{
        width: 50%;
    }

    body{
        font-size: 0.8em;
    }

    .characteristics__image{
        width: 130%;
    }

    .characteristics__text{
        width: 100%;
    }

    .characteristics__button {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }

    .footer__logos-column{
        width: 18%;
        margin: 0 1em;
    }

    .footer__list{
        margin-right: 1em;
    }

}

@media all and (max-width:1100px){

    .courses__list{
        margin-right: 0em;
    }

    .courses__item{
        width: 222px;
    }
}

@media all and (max-width:953px){
    .menu__action{
        display: block;
        background-color: transparent;
        border: none;
        width: 27px;
        cursor: pointer;
        margin-right: 3em;

    }

    .menu{
        justify-content: space-between;
    }

    .menu__container{
        display: none;
    }

    .menu__container--mobile{
        display: block;
        position: fixed;
        width: 100%;
        height: 35%;
        background-color: #FFFFFF;
        top: 0;
        flex-direction: column;
        z-index: 2;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    }

    .menu__container--mobile .menu__left{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .menu__container--mobile .menu__right{
        flex-direction: column;
        align-items: center;

    }

    .menu__container--mobile .menu__list-item{
        margin-bottom: 15px;
        font-size: 1em
    }

    .btn--grey{
        margin: 0.5em;
        display: block;
    }

    .btn--red{
        margin: 0.5em;
        display: block;
    }

    #close{
        display: block;
        position: absolute;
        top:20px;
        right: 30px;
        font-size: 2.5em;
        cursor: pointer;
        font-family: 'Roboto Mono', monospace;
        color: #D23D29 ;
    }

    .courses__list{
        flex-wrap: wrap;
    }

    .courses__btn{
        display: none;
    }

    .courses__more--container{
        width: 100%;
    }

    .courses__other{
        margin-top: 0em;
        width: 100%;
        }

    .slider{
        display: flex;
        flex-wrap: wrap;
    }

    .slider__text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .slider__text--red{
        display: inline;
        margin-right: 0.3em;
    }
    .slider__text--grey{
        display: inline;
    }

}

@media all and (max-width:902px){
    .courses__list{
        flex-direction: column;
    }

    .courses__item{
        width: 90%;
        margin: 1em 1em 1em 0;
        height: auto;
        box-sizing: content-box;
    }

}

@media all and (max-width:450px){
    .container{
        width: 100%;
    }
    .container2{
        margin: 0 0 0 5em;
    }

    body{
        font-size: 0.6em;
    }

}
