@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

$green: #09262B;
$green-50: rgba(9, 38, 43, 0.5);
$green-30: rgba(9, 38, 43, 0.3);
$green-70: rgba(9, 38, 43, 0.7);

$cream: #F2F0EF;
$white: #FFFFFF;
$red: #D23D29;
$small: 1em;
$medium: 1.2em;
$subtitle: 1.7em;
$subtitle2: 2em;
$title: 3.5em;
$mono:'Roboto Mono', monospace;
$sans: 'Open Sans', sans-serif;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $sans;
    font-size: $small;
    overflow-x: hidden;
}

.container{
    width: 1440px;
    box-sizing: border-box;
}

.container2{
    margin: 0 0 0 10em;
}

.container3{
    margin: 0 3em 0 4em;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin link ($color) {
    text-decoration: none !important;
    color: $color;
    font-size: 1em;
}


.menu{
    background-color: $white;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &__action{
        display: none;
    }
    
    &__container{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .menu__left{
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: start;
        }
        
        .menu__right{
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 30px;
            
        }

        .menu__side{
            width: 550px;
            display: flex;
        }

    
    }

    .auth{
        justify-content: end;
        align-items: center;
        margin-top: 5px;

        &__profile {
            color: $green;
        }

        &__signout{
            background-color: $red;
            color: white;
            margin-left: 10px;
         }
    }

    #close{
        display: none;
    }
    

    &__logo{
        height: 50px;
        margin-right: 5em;
        
    }

    a {
        @include link($green);
    }
    
    &__list-item {
        margin: 0px 30px;
        color: $green;
        text-decoration: none;
        font-weight: 700;
    }
    
    &--light{
        font-weight: 400;
    }
}

.btn{
    font-weight: 600;
    padding: 1em;
    box-sizing: border-box;
    border: none;

    &--grey{
        background-color: $cream;
    }

    &--red{
        background-color: $red;
        margin: 1em;
        color: $white !important;
        
    }

}

.form__input{
    padding: 1em;
    width: 22em;
    border: 1em;
    border-color: $green-50;
    box-sizing: border-box;

    &--whitebg{
        background-color: $cream;
        width: 100%;
    }

}

.input__button{
    background-color: #D23D29;
    padding: 1em;
    margin: 0.5em;
    border: 0em;
    color: ghostwhite;
    box-sizing: border-box;

}

.courses{


    &__banner{
        margin-bottom: 10px;
    
    }
    .breadcrumb{
        font-family: $mono;
        padding: 25px 0 25px 0;
        color: $green-50;
    }

    &__title{
        font-size: $subtitle;
        color: $green;
        margin-bottom: 20px;
     }

    .filters{
        display: flex;
        justify-content: space-between;
    }
    &__input{
        border: 1px;
        border-color: $green-50;
        background-color: $cream;
    }
    .products{
        display: flex;
        overflow-x: hidden;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-wrap: wrap;
    
        .product{
            display: block;
            width: 300px;
            border-radius: 10px;
            background-color: $white;
            border: 1px solid $green-30;
            box-sizing: border-box;
            text-decoration: none !important;
            margin: 20px 20px 20px 0;
        
            &__image{
                height: 80px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }
        
            &__logo{
                width: 120px;
                height: 60px;
                padding: 5px;
                background: #FFFFFF;
                border: 1px solid $green-50;
                position: relative;
                top: -30px;
                left: 20px;
            }
        
            &__description{
                padding: 0px 20px 20px 20px;
        
                .product__name{
                    @include link($green);
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: $medium;
                }
        
                .product__university{
                    font-weight: 400;
                    @include link($green-50);
                    margin-bottom: 15px;
        
                }
        
                .product__price{
                    @include link($green);
                    margin-bottom: 10px;
                    font-size: $medium;
                }
        
                .btn--cart{
                    background-color: $red;
                    color: $white !important;
                    border: none;

                    &:disabled{
                        background-color: $green-50;
                    }
                }
        
            }
        }
    }
    

}


.footer{
    background-color: $green;
    bottom: auto;
    padding-bottom: 4em;

    &__logo{
        width: 100px;
        height: 100px;
    }
    
    &__menu{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &--options{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 50%;

            .footer__title{
                color: $white;
                font-weight: 700;
                margin-bottom: 1em;
            }

            .footer__list{
                list-style: none;

                .footer__body a{
                    color: #f9f9f9dc;
                    margin-top: 0.5em;
                }
            }
        }
    }
    
    &__logos-column{
        width:30%;

        .footer__logos-list{
            list-style: none;
            display: flex;
            margin-bottom: 2em;
            margin-top: 2em;
        }

        .footer__download-list{
            list-style: none;
            display: flex;
            margin-top: 2em;
        }
    } 

    &__body{
        color: $white;
        margin-top: 0.5em;
    }
      
    &__rights{
        margin-top: 3em;
    }

    .newsletter{
        margin-right: 3em;
        margin-left: 2em;

        &__title{
            color: #FFFFFF;
            font-weight: 700;
            font-size: 1.5em;
        }
    
        &__form{
            margin-top: 2em;
        }
    }
    
}

.product{

    &__image{
        height: 300px;
        
        .product__mainImage{
            object-fit: cover;
        }
    }

    &__unilogo{
        width: 280px;
        height: 150px;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid $green-50;
        position: relative;
        top: -70px;
        left: 70px;
        

    }
    &__description{

        display: flex;
    }

    &__leftside{
        padding-top: 50px;
        padding-bottom: 40px;
        padding-right: 80px;
        width: 80%;

    }

    &__price{
        margin-top: 20px;
        font-size: $medium;
    }

    &__addToCart{
        margin-bottom: 40px !important;
    }

    &__aside{
        padding: 0 70px 50px 70px;
        background-color: $cream;

        &__boldtype{
            font-weight: 700;

            &--single{
                margin-top: 20px;
                
            }
        }

        .product__list{
            list-style: none;
            margin-top: 70px;

            .product__item{
                color: $green-50;
                margin-top: 0.8em;
                font-size: $medium;
                font-weight: 700;
            }
        }
    }

    &__cart{

    //background-color: #D23D29;
    border-bottom: 1px solid #5e5e5e;
    margin-bottom: 20px;
    padding-bottom: 20px;
       
    }

    &__university{
        color:$red;
        font-size: $medium;
        font-weight: 700;
        margin: 0.5em 0 1em 0;
        font-family: $mono;


    }

    .instructor{
        background-color: $cream;
        margin-top: 20px;
        display: flex;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 50px;

        &__image{
            border-radius: 200px;
            height: 100px;
            width: 100px;
        }
        &__info{
            margin-left: 20px;

            .instructor__name{
                margin-top: 15px;
            }
        }
    }

    &__about{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}


.register{
    background-color: $cream;
    display: flex;

    .login__menu{
        margin: 0;


    }

    &__square{
        background-color: $green;
        width: 50%;
        height: 820px;

    }

    &__title{
        color: $green;
        font-size: $subtitle;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

    &__img{
        object-fit: cover;
        width: 100%;
    }

    &__side{
        padding: 50px;
    }


    &__form{
        margin-top: 10px;
        width: 500px;
        .register__input{
            display: block;
            margin-bottom: 10px;
        }
    }

    &__input{
        width: 100%
    }
    

    &__subtitle{
        color: $green-50;
        margin-bottom: 10px;
        font-size: $medium;
        margin-right: 10px;
        text-decoration: none;

        &--picked{
            color: $green;
        }
    }

    &__copy{
        color: $green-50;
        margin-top: 2em;
    }

}

.btn{
    margin: 1em 0;
    &:disabled{
        background-color: $green-50;
    }


}

.productsSection{
    &__total{
        margin-left: 10%;
    }

    &__info{
        margin: 0 3em 0 4em;
        display:flex;

    }
}

.sectionTotal{

&__total{
    font-weight: bolder;
    
}
}

.form {
    //background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    //border: 1px solid gray;
   // border-radius: 5px;
    //padding: 30px;
    margin: 50px auto;



 // margin-bottom: 30px;
  
    &__title {
      margin-bottom: 20px;
      font-size: 29px;
    }
    &__error{
        color: #D23D29;

    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

  }
  
  .hidden{
    display: none;
}

.cart{

        margin-top: 80px;
        margin-bottom: 40px;
        min-height: 300px;
    
    &__header{
        display: flex;
        margin-bottom: 20px;
    }

    &__title{
        margin-left: 20px;
    }

    &__message{
        width: 60%;
        color: $green-50;
    }

    .product__cart{
        display: flex;
    }

    .product__img{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .product__info{
        margin-left: 30px;
    }
}

.checkout{
    margin-top: 70px;
    margin-right: 70px;
    &__title{
        color:$green;
        font-size: $subtitle2;
        font-weight: 700;
        font-family: $mono;
    }
    &__subtitle{
        color: $green;
        margin: 15px 0 15px 0;
    }

    &__data{
        padding-top: 20px;
        color: $green-70;
        padding-bottom: 40px;
    }

    &__product-price{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    &__product-name{
        margin-top: 15px;
        font-weight: 400;
    }

    .productsSection__cart{
        color: $green;
        padding-bottom: 20px;
        
    }

    .sectionTotal__total{
        color: $red;
        margin-bottom: 10px;
    }

    .btn-pay{
        margin-bottom: 50px;
    }

}

.admin{
    &__buttons{
        margin-left: 20px;
        margin-bottom: 10px;
    }

    &__form{
        justify-self: left;
        width: 50%;
        padding: 30px;
        border-color: $green-70;
        border-radius: 20px;
        display: block;
        
    }
}
