@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.menu{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1340px;
    margin: 0 2em 0 5em;
    box-sizing: border-box;
}


.menu__left{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: start;
}


.menu__logo{
    height: 50px;
    margin: 0em;
}

.menu__right{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
    
}

.menu__list-item a{
    margin: 0px 30px;
    color: #09262B;
    text-decoration: none;
    font-weight: 700;
}

.menu--light{
    font-weight: 400;
}

.greybutton{
    background-color: #F2F0EF;
    padding: 1em;
}

.redbutton{
    background-color: #D23D29;
    padding: 1em;
    margin: 1em;
}


.banner{

    background-color: #F2F0EF;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.banner__title{
    font-size: 48px;
    color: #09262B;
    margin: 1.5em 0 0.5em;    
}

.banner__body{
    font-size: 20px;
    color: #09262B;
}

.banner__form{
    margin: 1.5em 0 3em 0;
}
.banner__input{
    padding: 1em;
    width: 22em;
    border: 0em;

}

.input__button{
    background-color: #D23D29;
    padding: 1em;
    margin: 0.5em;
    border: 0em;
}

.banner__image{
    justify-content: end;
}

.universities-slider{
    display: flex;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.characteristics{
    display: flex;
}
